* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: font3;
}

html,
body {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: font1;
  src: url(../Resources/a4.woff2);
}

@font-face {
  font-family: font2;
  src: url(../Resources/u4.woff2);
}

@font-face {
  font-family: font3;
  src: url(../Resources/u8.woff2);
}

.left-nav{
  font-family: font1;
}

.right-nav{
  font-family: font1;
}

.font1{
  font-family: font1;
}

h1 span{
  text-shadow: 10px;
  /* transform:; */
  scale:0.9;
  /* transform: rotate3d(1, 1, 1, 45deg);   */
  display: inline-block;
  
  transform: translateY(110%) rotateX(30deg) rotateY(13deg) rotateZ(5deg);
}